---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?key=AIzaSyChqf4xEHlqpF7Ly4n4-cbGP3hmkEVt6Ts&q=%20isbn:0385539703
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"xZSZjAWLb7i-4HskR60qeOurWSg/ejllLMzoBfv58FUKEOhfyZUjunk"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 1,
         "items": [
          {
           "kind": "books#volume",
           "id": "bbK5oAEACAAJ",
           "etag": "VWy80NiL4pQ",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/bbK5oAEACAAJ",
           "volumeInfo": {
            "title": "The Children Act",
            "authors": [
             "Ian McEwan"
            ],
            "publisher": "Nan A. Talese",
            "publishedDate": "2014-09-09",
            "description": "A highly respected London judge hides behind her professional accomplishments her decision to separate from a husband who wants an open marriage, a loss that challenges her beliefs throughout a case involving parents whose faith forbids a life-saving transfusion for their son. 150,000 first printing.",
            "industryIdentifiers": [
             {
              "type": "ISBN_10",
              "identifier": "0385539703"
             },
             {
              "type": "ISBN_13",
              "identifier": "9780385539708"
             }
            ],
            "readingModes": {
             "text": false,
             "image": false
            },
            "pageCount": 240,
            "printType": "BOOK",
            "categories": [
             "Fiction"
            ],
            "averageRating": 4.0,
            "ratingsCount": 29,
            "contentVersion": "preview-1.0.0",
            "imageLinks": {
             "smallThumbnail": "http://bks3.books.google.com/books?id=bbK5oAEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api",
             "thumbnail": "http://bks3.books.google.com/books?id=bbK5oAEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com/books?id=bbK5oAEACAAJ&dq=isbn:0385539703&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.com/books?id=bbK5oAEACAAJ&dq=isbn:0385539703&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.com/books/about/The_Children_Act.html?hl=&id=bbK5oAEACAAJ"
           },
           "saleInfo": {
            "country": "US",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "US",
            "viewability": "NO_PAGES",
            "embeddable": false,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED",
            "epub": {
             "isAvailable": false
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://books.google.com/books/reader?id=bbK5oAEACAAJ&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "NONE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "A highly respected London judge hides behind her professional accomplishments her decision to separate from a husband who wants an open marriage, a loss that challenges her beliefs throughout a case involving parents whose faith forbids a ..."
           }
          }
         ]
        }
  recorded_at: Thu, 18 Sep 2014 21:06:15 GMT
recorded_with: VCR 2.9.3
