---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?key=AIzaSyChqf4xEHlqpF7Ly4n4-cbGP3hmkEVt6Ts&q=%20isbn:0545685176
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"xZSZjAWLb7i-4HskR60qeOurWSg/xPR9moHpcs9RL6uacTiJ1N21AZs"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 1,
         "items": [
          {
           "kind": "books#volume",
           "id": "onsanwEACAAJ",
           "etag": "lMRAH8EuM6s",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/onsanwEACAAJ",
           "volumeInfo": {
            "title": "Minecraft: Construction Handbook",
            "subtitle": "An Official Mojang Book",
            "authors": [
             "Inc. Scholastic",
             "Matthew Needler"
            ],
            "publisher": "Scholastic Incorporated",
            "publishedDate": "2014-09-30",
            "description": "An official guide to Minecraft construction shares essential tips and tricks for building creative structures and innovations ranging from theme parks and waterslides to pirate coves and animal cannons. Video game tie-in.",
            "industryIdentifiers": [
             {
              "type": "ISBN_10",
              "identifier": "0545685176"
             },
             {
              "type": "ISBN_13",
              "identifier": "9780545685177"
             }
            ],
            "readingModes": {
             "text": false,
             "image": false
            },
            "pageCount": 80,
            "printType": "BOOK",
            "categories": [
             "Juvenile Nonfiction"
            ],
            "averageRating": 4.5,
            "ratingsCount": 5,
            "contentVersion": "preview-1.0.0",
            "imageLinks": {
             "smallThumbnail": "http://bks2.books.google.com/books?id=onsanwEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api",
             "thumbnail": "http://bks2.books.google.com/books?id=onsanwEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com/books?id=onsanwEACAAJ&dq=isbn:0545685176&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.com/books?id=onsanwEACAAJ&dq=isbn:0545685176&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.com/books/about/Minecraft_Construction_Handbook.html?hl=&id=onsanwEACAAJ"
           },
           "saleInfo": {
            "country": "US",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "US",
            "viewability": "NO_PAGES",
            "embeddable": false,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED",
            "epub": {
             "isAvailable": false
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://books.google.com/books/reader?id=onsanwEACAAJ&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "NONE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "An official guide to Minecraft construction shares essential tips and tricks for building creative structures and innovations ranging from theme parks and waterslides to pirate coves and animal cannons. Video game tie-in."
           }
          }
         ]
        }
  recorded_at: Thu, 18 Sep 2014 21:06:16 GMT
recorded_with: VCR 2.9.3
